@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: courgette;
}
.sider-container{
    width: 720px;
    margin: auto;
    position: relative;
}
.sider-container .fade{
    animation-name: fade;
    animation-duration: .5s;
}

@keyframes fade{
    from{opacity: 0.3}
    to{opacity: 1}
}

.sider-container .slide .slider-number{
    position: absolute;
    color: white;
    font-size: 25px;
    padding: 15px;
}
.sider-container .slide .slider-caption{
    text-align: center;
    font-size: 22px;
    bottom: 20px;
    width: 100%;
    color: white;
    position: absolute;
    padding: 10px;
}
.sider-container .prev,
.sider-container .next{
    text-decoration: none;
    font-size: 35px;
    padding: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sider-container .next{
    right: 0px;
}
.sider-container .prev:hover{
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
}
.sider-container .next:hover{
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
}
.slider-container .slider-bullets{
    text-align: center;
}
.slider-container .slider-bullets .dots{
    display: inline-block;
    padding: 5px;
    width: 10px;
    height: 10px;
    background-color: #808080;
    border-radius: 50%;
}
.slider-container .slider-bullets .dots:hover{
    background-color: #383838;
}
